<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>
  <meta charset="UTF-8">
  <title>html</title>
</head>
<body ng-app="FollowUpApp" ng-controller="AccountCtrl as app">

<input type="text", placeholder="first name" ng-model="app.person.firstname"/>
<input type="text", placeholder="last name" ng-model="app.person.lastname"/>

<label for="birthday">birthday</label>
<input type="text", placeholder="birthday" ng-model="app.person.birthday" ui-date/>

<input type="text", placeholder="age" ng-model="app.person.age"/>

<!-- TO DO -->
<input type="tel", placeholder="tel" ng-model="app.person.tel">

<!-- TO DO -->
<input type="email", placeholder="email" ng-model="app.person.email"/>

<input type="text", placeholder="street" ng-model="app.person.street"/>
<input type="text", placeholder="city" ng-model="app.person.city"/>
<input type="text", placeholder="state" ng-model="app.person.state"/>
<input type="text", placeholder="zip" ng-model="app.person.zip"/>


<input type="text", placeholder="facebook" ng-model="app.person.facebook"/>
<input type="text", placeholder="instagram" ng-model="app.person.instagram"/>



<label for="contactdate">Initial Date</label>
<input type="date", placeholder="initial date" ng-model="app.person.initialdate" ui-date/>
<input type="text", placeholder="contact person" ng-model="app.person.contactperson"/>
<input type="text", placeholder="name of event" ng-model="app.person.nameofevent"/>

<input type="text", placeholder="previously saved" ng-model="app.person.previouslysaved"/>
<input type="text", placeholder="previously baptized" ng-model="app.person.previouslybaptized"/>

<input type="text", placeholder="join church" ng-model="app.person.joinchurch"/>
<input type="text", placeholder="status" ng-model="app.person.status"/>

<label for="last contact date">last contact date</label>
<input type="date", placeholder="last contact date" ng-model="app.person.lastcontactdate" ui-date/>

<label for="created date">created date</label>
<input type="date", placeholder="created date" ng-model="app.person.createddate" ui-date/>

<label for="modified date">modified date</label>
<input type="date", placeholder="modified date" ng-model="app.person.modifieddate" ui-date/>

<!-- SAVE BUTTON -->
<input type="button" value="save" ng-click="app.addPerson(app.person)"/>

<!-- LOGIN BUTTON -->
<label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text">
  </label>


<label class="item item-input">
    <span class="input-label">Password</span>
    <input type="text">
  </label>
<input type="button" value="Login" ng-click="app.login(app.credentials)"/>

<!-- LOG OUT -->
<label class="item item-input">Logout</label>
<input type="button" value="Logout" ng-click="app.logout(app.logout)"/>

<!-- TYPE OF CONTACT -->
<input type="text", placeholder="join church" ng-model="app.person.visit"/>

<input type="text", placeholder="letter" ng-model="app.person.letter"/>

<input type="text", placeholder="visit church" ng-model="app.person.visitchurch"/>

<input type="text", placeholder="phone call" ng-model="app.person.phonecall"/>

<input type="text", placeholder="email" ng-model="app.person.email"/>

<!--   <h1>hello</h1> -->

<!-- <ul>
  <li ng-repeat="person in app.people">
    {{person.firstname}} {{person.lastname}} 
  </li>
</ul> -->

<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>  
<script type="text/javascript" src="bower_components/angular-ui-date/src/date.js"></script>
<script src="public/main.js"></script>
</body>
</html>