extends layout

block form
  div.new_form
    div.row
      div.small-9.small-centered.columns
        input
          type
            | text
          ng-model
            | app.person.firstnamemale
        input
          type 
            | text
          ng-model
            | app.person.lastnamemale
        input
          type
            | button
          ng-click
            | app.addPerson(app.person)
            
        ul
          li
            ng-repeat
              | person in app.people
                {{person.firstnamemale}} {{person.lastnamemale}}
        //- form(action='/form', method='post')
        //-   div
        //-     label
        //-       | First Name
        //-     input(type='text', name='firstname', required)
        //-   div
        //-     label 
        //-       | Last Name
        //-     input(type='text', name="lastname", required)
        //-   div
        //-     button(type='submit')
        //-       | Save