<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>
  <meta charset="UTF-8">
  <title>html</title>
</head>
<body ng-app="FollowUpApp" ng-controller="AccountCtrl as app">

<input type="text", placeholder="first name male" ng-model="app.person.firstnamemale"/>
<input type="text", placeholder="last name male" ng-model="app.person.lastnamemale"/>
<input type="text", placeholder="first name female" ng-model="app.person.firstnamefemale"/>
<input type="text", placeholder="last name female" ng-model="app.person.lastnamefemale"/>

<label for="birthday">birthday</label>
<input type="text", placeholder="birthday" ng-model="app.person.birthday" ui-date/>

<input type="text", placeholder="age" ng-model="app.person.age"/>

<input type="text", placeholder="street" ng-model="app.person.street"/>
<input type="text", placeholder="city" ng-model="app.person.city"/>
<input type="text", placeholder="state" ng-model="app.person.state"/>
<input type="text", placeholder="zip" ng-model="app.person.zip"/>

<!-- TO DO -->
<!-- <input type="tel", placeholder="tel" ng-model="app.person.tel"> -->

        <label class="item item-input">
          <span class="input-label">Telephone</span>
          <input type="tel">
      </label>


<input type="text", placeholder="facebook" ng-model="app.person.facebook"/>
<input type="text", placeholder="instagram" ng-model="app.person.instagram"/>

<!-- TO DO -->
<input type="email", placeholder="email" ng-model="app.person.email"/>

<label for="contactdate">Contact Date</label>
<input type="text", placeholder="contact date" ng-model="app.person.contactdate" ui-date/>
<input type="text", placeholder="contact person" ng-model="app.person.contactperson"/>
<input type="text", placeholder="name of event" ng-model="app.person.nameofevent"/>

<input type="text", placeholder="previously saved" ng-model="app.person.previouslysaved"/>
<input type="text", placeholder="previously baptized" ng-model="app.person.previouslybaptized"/>

<input type="text", placeholder="join church" ng-model="app.person.joinchurch"/>
<input type="text", placeholder="status" ng-model="app.person.status"/>

<label for="last contact date">last contact date</label>
<input type="text", placeholder="last contact date" ng-model="app.person.lastcontactdate" ui-date/>

<label for="created date">created date</label>
<input type="text", placeholder="created date" ng-model="app.person.createddate" ui-date/>

<label for="modified date">modified date</label>
<input type="text", placeholder="modified date" ng-model="app.person.modifieddate" ui-date/>

<!-- SAVE BUTTON -->
<input type="button" value="save" ng-click="app.addPerson(app.person)"/>

<!--   <h1>hello</h1> -->

<!-- <ul>
  <li ng-repeat="person in app.people">
    {{person.firstname}} {{person.lastname}} 
  </li>
</ul> -->

<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>  
<script type="text/javascript" src="bower_components/angular-ui-date/src/date.js"></script>
<script src="public/main.js"></script>
</body>
</html>