<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>
  <meta charset="UTF-8">
  <title>html</title>
</head>
<body ng-app="FollowUpApp" ng-controller="AccountCtrl as app">

<input type="text", placeholder="first name male" ng-model="app.person.firstnamemale"/>
<input type="text", placeholder="last name male" ng-model="app.person.lastnamemale"/>
<input type="text", placeholder="first name female" ng-model="app.person.firstnamefemale"/>
<input type="text", placeholder="last name female" ng-model="app.person.lastnamefemale"/>

<label for="birthday">birthday</label>
<input type="text", placeholder="birthday" ng-model="app.person.birthday" ui-date/>

<label for="age">age</label>
<input type="text", placeholder="age" ng-model="app.person.age"/>

<input type="button" value="save" ng-click="app.addPerson(app.person)"/>

<!--   <h1>hello</h1> -->

<!-- <ul>
  <li ng-repeat="person in app.people">
    {{person.firstname}} {{person.lastname}} 
  </li>
</ul> -->

<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>  
<script type="text/javascript" src="bower_components/angular-ui-date/src/date.js"></script>
<script src="public/main.js"></script>
</body>
</html>