extends ../layout.jade

block login
  div#login_form
    div.row
      div.small-9.small-centered.columns
        =messages
        form(action='/login', method='post')
          div
            label
              | Username:
            input(type='text', name='username', required)
          div
            label
              | Password:
            input(type='password', name='password', required)
          div
            button(type='submit') 
              | Login 
