extends ./layout.jade

block signup
  div#signup_form
    div.row
      div.small-9.small-centered.columns
        =messages
        form(action='/signup', method='post')
          div
            label
              | Username:
            input(type='text', name='username', required)
          div
            label
              | Password:
            input(type='password', name='password', required)
          div
            label
              | Confirm Password:
            input(type='password', name='confirm_password', required)
          div
            button(type='submit') 
              | Submit
