<ion-view view-title="LISTS">
  <ion-content>

    <ion-list>


<div class="bar bar-header item-input-inset">


  <label class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" ng-model="searchText" placeholder="Search">
  </label>
  <button class="button button-clear" ng-click="searchText=''">
    Cancel
  </button>
</div>


<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="prospect in prospects | filter:searchText" type="item-text-wrap" href="#/tab/lists/{{prospect._id}}">


      <!-- TO DO -->
<!--         <img ng-src="{{chat.face}}">
        
        <img ng-src="{{chat.face}}" style="width: 64px; height: 64px"> -->

        <h2 class="lists-name">{{prospect.firstname}} {{prospect.lastname}}</h2>
        <label for="initial-date"><span class="initial-date">Initial Date:</span>
          {{prospect.initialdate | date: 'MM-dd-yyyy'}}
        </label>
        <!-- <p>{{chat.lastText}}</p> -->



        <i class="icon ion-chevron-right icon-accessory"></i>

<!--         <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button> -->


      </ion-item>
      
      <!-- LOGOUT BUTTON -->
  <div class="button-bar">
    <a class="button button-positive" value="Log out" href="/logout"/>Logout</a>
  </div>
    </ion-list>

    <!-- LOGOUT BUTTON -->
 <!--  <div class="button-bar">
    <a class="button button-positive" value="Log out" href="/logout"/>Logout</a>
  </div>  -->
  
  </ion-content>

</ion-view>
