<ion-view view-title="ADD">
<!--   <ion-content class="padding" has-bouncing="false" delegate-handle="containerScroll"> -->
<ion-content class="padding" overflow-scroll="true">
  
  <!-- SAVE BUTTON -->
  <div class="button-bar save">
    <a class="button button-balanced save" value="save" ng-click="app.addPerson(app.person)">Save</a>
  </div>

  <div class="list card">
  <div class="item item-divider">Main Contact</div>
  <div class="item item-body">

    <label class="item item-input">
      <span class="input-label">First Name</span>
      <input id="firstName" type="text" ng-click="scrollToKey(firstName)" ng-model="app.person.firstname">
    </label>

    <label class="item item-input">
      <span class="input-label">Last Name</span>
      <input id="lastName" type="text" ng-click="scrollToKey(lastName)" ng-model="app.person.lastname">
    </label>

    <label class="item item-input">
      <span class="input-label">Gender</span>
      <input id="Gender" type="text" ng-click="scrollToKey(gender)" ng-model="app.person.gender">
    </label>

    <label class="item item-input">
      <span class="input-label">Age</span>
      <input id="age" type="text" ng-click="scrollToKey(age)" ng-model="app.person.age">
    </label>

    <label class="item item-input">
      <span class="input-label">Telephone</span>
      <input id="telephone" type="tel" ng-click="scrollToKey(telephone)" ng-model="app.person.tel">
    </label>

    <label class="item item-input">
      <span class="input-label">Initial Date</span>
      <input id="initialDate" type="date" ng-click="scrollToKey(initialDate)" ng-model="app.person.initialdate">
    </label>

    <label class="item item-input">
      <span class="input-label">Contact Person</span>
      <input id="contactPerson" type="text" ng-click="scrollToKey(contactPerson)" ng-model="app.person.contactperson">
    </label>

    <label class="item item-input">
      <span class="input-label">Spouse First Name</span>
      <input id="spouseFirstName" type="text" ng-click="scrollToKey(spouseFirstName)" ng-model="app.person.firstnameSpouse">
    </label>

    <label class="item item-input">
      <span class="input-label">Spouse Last Name</span>
      <input id="spouseLastName" type="text" ng-click="scrollToKey(spouseLastName)" ng-model="app.person.lastnameSpouse">
    </label>

    <label class="item item-input">
      <span class="input-label">Spouse Gender</span>
      <input id="spouseGender" type="text" ng-click="scrollToKey(spouseGender)" ng-model="app.person.genderSpouse">
    </label> 

    <label class="item item-input">
      <span class="input-label">Birthday</span>
      <input id="birthday" type="date" ng-click="scrollToKey(birthday)" ng-model="app.person.birthday">
    </label>

    <label class="item item-input">
      <span class="input-label">Email</span>
      <input id="email" type="email" ng-click="scrollToKey(email)" ng-model="app.person.email">
    </label>

    <label class="item item-input">
      <span class="input-label">Street</span>
      <input id="street" type="text" ng-click="scrollToKey(street)" ng-model="app.person.street">
    </label>

    <label class="item item-input">
      <span class="input-label">City</span>
      <input id="city" type="text" ng-click="scrollToKey(city)" ng-model="app.person.city">
    </label>

    <label class="item item-input">
      <span class="input-label">State</span>
      <input id="state" type="text" ng-click="scrollToKey(state)" ng-model="app.person.state">
    </label>

    <label class="item item-input">
      <span class="input-label">Zip</span>
      <input id="zip" type="text" ng-click="scrollToKey(zip)" ng-model="app.person.zip">
    </label>
  </div>
</div>

<div class="list card">
  <div class="item item-divider">Social Media</div>
  <div class="item item-body">

    <div>
      <label class="item item-input">
        <span class="input-label">Facebook</span>
        <input id="facebook" type="text" ng-click="scrollToKey(facebook)" ng-model="app.person.facebook">
      </label>

      <label class="item item-input">
        <span class="input-label">Instagram</span>
        <input id="instagram" type="text" ng-click="scrollToKey(instagram)" ng-model="app.person.instagram">
      </label>
    </div>

  </div>
</div>

  <div class="list card">
    <div class="item item-divider">General Information</div>
    <div class="item item-body">


      <label class="item item-input">
        <span class="input-label">Name of Event</span>
        <input id="nameOfEvent" type="text" ng-click="scrollToKey(nameOfEvent)" ng-model="app.person.nameofevent">
      </label>

      <ion-toggle  ng-model="app.person.previouslysaved" ng-change="app.toggle()">
        Previously saved
      </ion-toggle>

      <ion-toggle  ng-model="app.person.previouslybaptized" ng-change="app.toggle()">
        Previously baptized
      </ion-toggle>


    </div>
  </div>


<!--   <button class="button button-block button-balanced" value="save" ng-click="showConfirm()"> Save
  </button>   -->
 
<!-- LOGOUT BUTTON -->
  <div class="button-bar">
    <a class="button button-positive" value="Log out" href="/logout"/>Logout</a>
  </div>
     
  </ion-content>
</ion-view>